<ul>
  {{#each filterNotes}}
  <li><a href='/?filterNote={{this}}'>{{this}}</a></li>
  {{/each}}
</ul>

    <table id="listUI">
      <tr>
        <th>CURP</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DOB</th>
        <th>Promedio</th>
        <th>Added</th>
        <th>Actions</th>
      </tr>
      
    </table>
