
<html>
<head>
  <title>Central de alumnos</title>
</head>
<body>

  <a href="/add">Add+</a> | <a href="/">List</a>

  {{{body}}}

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
var socket = io();
</script>
<script src="/app.js"></script>

</html>
