
<ul id="messages">
  <li>Welcome {{userData.nickname}}</li>
</ul>
<form action="" class="formchat">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
$(function () {
  var socket = io();
  $('form').submit(function(){
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });

  socket.on('chat message', function(msg){
     $('#messages').append($('<li>').text(msg));
   });

});
</script>
