<form method="post" action="/save">
  <fieldset>
    <legend>Personal information:</legend>
    First Name:<br>
    <input type="text" name="fname" value="David"><br>
    Last Name:<br>
    <input type="text" name="lname" value="Martínez"><br>
    DNI:<br>
    <input type="text" name="dni" value="16657423"><br><br>
    Date of Birth: <br>
    <input type="text" name="doB" value="18/08/1991"><br><br>
    Average:<br>
    <input type="text" name="avg" value="5"><br><br>
    
    <input type="submit" value="Add+">
  </fieldset>
</form>