
  <form action="/save" method="post">
  <table>
    <tr>
      <th>FName</th>
      <th>LName</th>
      <th>DNI</th>
      <th>AVG</th>
    </tr>
    <tr>
      <td><input type="text" name="fname" /></td>
      <td><input type="text" name="lname" /></td>
      <td><input type="text" name="dni" /></td>
      <td><input type="text" name="avg" /></td>
    </tr>
    <tr>
      <td colspan="3">
          <input type="submit" value="Add+" />
      </td>
    </tr>
  </table>
  </form>
