<form method="post" action='/save'>
  <p><input type='text' name='fname' placeholder="Name" /></p>
  <p><input type='text' name='age' placeholder="Age" /></p>
  <p><input type='text' name='dni' placeholder="DNI" /></p>
  <p><input type='submit' value="Add+" /></p>
</form>
