
<form method='post' action='/users/save'>
  <p>Name: <input type='text' name='name' placeholder='your name' /></p>
  <p>DNI: <input type='text' name='dni' placeholder='your dni' /></p>
  <p>Course: <input type='text' name='course' placeholder='your course' /></p>
  <p><input type='submit' value="Add+" /></p>
</form>
