<h1>Formulario de alta</h1>
<form method="post" action="/save">
    <input type="text" name="name" placeholder="Nombre" />
    <input type="text" name="email" placeholder="E-Mail" />
    <textarea name="message"></textarea>
    <input type="submit" value="enviar" />
</form>
